@model TaqiaPortFolio.Models.Education
@{
    ViewData["Title"] = "Education";
}

<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Education</h4>

            <form class="forms-sample" asp-action="AddOrEdit">
                <input type="hidden" asp-for="Id" />
                <div class="form-group row">
                    <label asp-for="Name" for="exampleInputUsername2" class="col-sm-3 col-form-label">Name</label>
                    <div class="col-sm-9">
                        <input asp-for="Name" type="text" class="form-control" id="exampleInputUsername2" placeholder="Name">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <label asp-for="university" for="exampleInputUsername2" class="col-sm-3 col-form-label">University</label>
                    <div class="col-sm-9">
                        <input asp-for="university" type="text" class="form-control" id="exampleInputUsername2" placeholder="university">
                        <span asp-validation-for="university" class="text-danger"></span>
                    </div>

                </div>

                <div class="form-group row">
                    <label asp-for="Description" for="exampleInputDegree2" class="col-sm-3 col-form-label">Description</label>
                    <div class="col-sm-9">
                        <input asp-for="Description" type="text" class="form-control" id="exampleInputDegree2" placeholder="Description">
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="StartDate" for="exampleInputPhone" class="col-sm-3 col-form-label">Start Date</label>
                    <div class="col-sm-9">
                        <input asp-for="StartDate" type="date" class="form-control" id="exampleInputdate" placeholder="Date">
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                <label asp-for="EndDate" for="exampleInputPhone" class="col-sm-3 col-form-label">End Date</label>
                <div class="col-sm-9">
                    <input asp-for="EndDate" type="date" class="form-control" id="exampleInputdate" placeholder="Date">
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>
        </div>
                
                <button asp-action="AddOrEdit" type="submit" class="btn btn-primary mr-2" > Submit </button>
                <button  asp-action="Index" class="btn btn-light">Cancel</button>
            </form>
        </div>
    </div>
</div>